.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3vh 1vw;
    background-color: #eeef;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    .logo {
        width: 8vh;
    }
}

.busqueda{
    font-size: 1rem;
    width: 25%;
    text-align: center;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
    li {
        list-style: none;
        padding: 0 0.6vw;
    }

    a{
        text-decoration: none;
        font-size: 2vw;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.5 ease;
    }

    a:hover{
        color: #14f;
    }

    .carrito {
        width: 6vh;
    }
}

@media (max-width:800px){
    .navbar .menuitem{
        display: none;
    }
    .busqueda{
        width: 50%;
    }
    .header .logo{
        width: 8vh;
    }
}

@media (max-width:350px){
    .busqueda{
        display: none;
    }

}
