/* importaciones de estilos */
@import url(libros.css);
@import url(cabecera.css);
@import url(piedepagina.css);
/*fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sansation;
}
html {
  scroll-behavior: smooth;
}

/* Estilos Globales */

h1 {
  font-size: 6vh;
  color: #222;
}

h2 {
  font-size: 5vh;
  font-weight: 700;
  color: #222;
  
}

h4 {
  font-size: 3vh;
  font-weight: 700;
  color: #222;
}

.section-p1 {
  padding: 2vw;
  margin-top: 2vh;

}

body {
  width: 100%;
  min-width: 300px;
  background-image: url("../imagenes/fondo230.png");
  background-size: cover;
  background-attachment: fixed;
}
