input {
    font-size: 3vh;
    color: #111;
    width: 20rem;
    text-align: center;
    margin: 3vh;
    border-radius: 20px;
    border: 2px solid #15aa;
    background-color: #eee;
    padding: 1vh;
}

textarea {
    font-size: 3vh;
    color: #222;
    width: auto;
    text-align: center;
    margin: 3vh;
    border-radius: 20px;
    border: 2px solid #15aa;
    background-color: #eee;
}

.error {
        color: #e11;    
        text-align: center;

}
.error .ingresoTexto {
    border: 1px solid #e11;
}

/*.error input:not(.check,.boton),.error select{
        border: 1px solid #e11;

}*/

.botonEnviar {
    font-size: 3vh;
    color: #222;
    background-color: #eee;
    border-radius: 20px;
    border: 2px solid #15aa;
    text-align: center;
    margin: 3vh;
    padding: 1vh;

}

.formularioContacto {
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.formularioRegistro {
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}
.tituloFormulario {
    margin: 2vh 0;
}