.section-libros {
    text-align: center;


    .libros-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 2px solid #999;
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin-bottom: 3vh;
        .libros {
            width: 30%;
            min-width: 300px;
            padding: 1vw;
            margin: 1vh;
            border-radius: 20px;
            border: 1px solid #cce7d0;
            cursor: pointer;
            background-color: #eeec;

            img {
                width: 100%;
                border-radius: 15px;
            }

            .titulo{
                font-style:bold;
                margin: 0.5vw;
            }

            .autor{
                color: #777;
                margin: 0.5vw;
            }

            .precio {
                color: #0af;
                margin: 0.5vw;

            }

            .carrito{
                width: 6vh;
                }

        }
    }
}

@media (max-width: 800px) {
    .section-libros .libros-container {
        justify-content: space-around;
    }

}