.pie-pagina {
    margin-top: 0;
    padding: 1vh 1vw;
    background-color: #eeef;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    color: #1a1a1a;
    text-align: center;
    .parrafo {
        margin-top: 1vh;
        font-size: 1.5vw;
    }
}

.enlacespie {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    .iconos{
        width: 6vh;
        margin: 1vh;
    }

    .iconos:hover {
        transform: scale(1.3);
        transition: all 0.3s ease;
    }

    #botonContacto {
        margin-top: 2vh;
        text-decoration: none;
        font-size: 2vw;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.5 ease;
    }

    #botonContacto:hover{
        color: #14f;
    }
}